<nav>
  <a href="/" class="logo link">
    <img src="assets/images/logo-desktop-dark.png" class="logo desktop">
  </a>
  
  <div class="nav-links desktop">
    <ul>
        {% for item in site.data.navigation %}
        <li {% if item.children %} class="has-dropdown" data-has-dropdown=true {% endif %}>
          {% if item.children %}
          <a href="{{ item.link }}"
            {% if item.id %}
              id="{{ item.id }}"
            {% endif %}
            {% if page.url == item.link + ".html" %} 
              class="nav-link current"
            {% endif %}
              class="nav-link"
            >
            {{ item.name}}
            </a>
            <div class="dropdown-wrapper">
              <ul>
                {% for child_item in item.children %}
                <li>
                    <a href="{{ child_item.link }}" class="nav-link">
                    {{ child_item.name}}
                    </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          {% else %}
            <a href="{{ item.link }}"
            {% if item.id %}
              id="{{ item.id }}"
            {% endif %}
            {% if page.url == item.link + ".html" %} 
              class="nav-link current"
            {% endif %}
              class="nav-link"
            >
            {{ item.name}}
            </a>
          {% endif %}
          <!-- <div class="delimiter">/</div> -->
        </li>
        {% endfor %}
    </ul>
  </div>
</nav>