<nav>
  <a href="/" class="logo link">
    <img src="assets/images/logo-desktop-dark.png" class="logo desktop">
  </a>
  
  <div class="nav-links desktop">
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}"
            {% if page.url == item.link + ".html" %} 
              class="nav-link current"
            {% endif %}
              class="nav-link"
            >
            {{ item.title}}
            </a>
          <!-- <div class="delimiter">/</div> -->
        </li>
        {% endfor %}
    </ul>
  </div>
</nav>