
$old-green: rgba(122, 209, 131, .28);

$teal: rgb(64, 160, 112);
$light-gray: #999;

$primary-color: $teal;
$primary-color__faded: rgba(122, 209, 131, .28);

$secondary-color: $light-gray;

$text-color-standard: black;
$link-color-unvisited: $primary-color;