@import 'normalize.css';
@import 'fonts.scss';
@import 'colors.scss';
@import 'animations.scss';
@import 'dropdown.scss';
@import 'nav.scss';
@import 'minima.scss';
@import 'article.scss';
@import 'badges.scss';
@import 'article-list.scss';

// * {
//   border: 1px solid red !important;
// }

html, body {
  margin: 0px; 
}

.hero {
  text-align: center;
}

.hero h1 {
  font-size: $font-size--hero;
}

a.standalone-link {
  position: relative;
}

a.standalone-link:hover {
  text-decoration: none;
}

a.standalone-link:hover::after {
  content: ' ›';
  position: absolute;
  right: -10px;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightblue;
}

.page-content {
  width: 600px;
  background-color: white;
  border-radius: 25px;
  padding: 30px 30px 0px 30px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.363);
}

// Small phones
@media screen and (max-width: 320px) {
  .page-content {
    margin: 5px 10px 5px 10px;
  }
}

// Medium & Large phones
@media screen and (min-width: 639px) {

}

// Tablets
@media screen and (min-width: 800px) {
  .page-content {
    width: 100%;
    margin: 0px 30px 0px 30px;
  }
}

// Medium desktop
@media screen and (min-width: 1024px) {
  .page-content {
    max-width: 700px;
  }
}

// Largest desktop
@media screen and (min-width: 1225px) {
  
}