<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/dropdown.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% include navigation.html %}
    <div class="page-wrapper">
      <div class="page-content">
        <section class="article--header">
            <h1 class="article--title">
              <a href="{{page.pgg_id}}">
                  {{ page.title }}
              </a>
            </h1>
            <h2 class="article--subtitle">{{ page.subtitle }}</h2>
            <div class="article--metadata">
              <h3>by 
                <a href="authors/{{page.author | slugify}}" class="standalone-link">{{ page.author }}</a>
              </h3>
              <h3 class="article--date">{{ page.pgg_date }}</h3>
              <div class="">
                Factuality <a href="/{{page.factuality | downcase}}" class="factuality-badge factuality-badge--{{page.factuality | downcase}}">{{ page.factuality }}</a>
              </div>
            </div>
        </section>
      
        <section class="article-body">
          {{ content }}
        </section>

        <section class="article-footer">
            {% include see_also_component.html see_alsos=page.see_also %}
            {% include footnotes_component.html footnotes=page.footnotes %}
            <h6>{{ page.submission_string }}</h6>
        </section>
      </div>
    </div>
    {% include site_footer.html %}
  </body>
</html>